<mat-card>

  <mat-toolbar  color="primary"  class="fixed-header">
    <mat-toolbar-row>
    <span><img  src="./assets/logo.png"  style="width:50px;"></span>
    <a  mat-button  routerLink="/register"  routerLinkActive="active">Register</a>
    <a  mat-button  routerLink="/login">Login</a>
    <a  mat-button  routerLink="/bidde">Post Bidde</a>
    
    </mat-toolbar-row>
    </mat-toolbar>
    <main>
    <router-outlet  style="margin-top: 80px;"></router-outlet>
    </main>

</mat-card>

<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->