<mat-card>
  <mat-toolbar  color="primary"  class="fixed-header">
    <mat-toolbar-row>
    <span><img  src="./assets/Bid_logo.png"  style="width:50px;"></span>
    <span>
        <a  mat-button  float-right routerLink="/bidde">Post Bidde</a>
        <a  mat-button  routerLink="/postBid">Add Bid</a>
        <a  mat-button  routerLink="/bidder">Available  Bids</a>
    </span>
    <span class="example-spacer"></span>
    <a  mat-button *ngIf="!loginService.loggedIn()" routerLink="/login">Login</a>
    <a  mat-button *ngIf="!loginService.loggedIn()" routerLink="/register"  routerLinkActive="active">Register</a>
    <a  mat-button *ngIf="loginService.loggedIn()" (click)="loginService.logout()">Logout</a>
    </mat-toolbar-row>
    </mat-toolbar>

    <main>
    <router-outlet  style="margin-top: 80px;"></router-outlet>
    </main>

</mat-card>


<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
